{% extends "base.html.twig" %}

{% block body %}
    <h1>Homepage</h1>

    <ul>
        {% for day in days %}
            <li>
                <span>
                    Solution for
                    <a href="{{ path('day', { day: day }) }}">
                        day {{ day }}
                    </a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
